@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-manrope);
}

h1, h2, h3 {
  font-family: var(--font-cormorant);
}
.rain-drop {
  width: 1px;
  height: 80px;
  background: linear-gradient(
    to bottom,
    rgba(255,255,255,0),
    rgba(255,255,255,0.4)
  );

  position: absolute;
  top: -100px;

  animation-name: rainFall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rainFall {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(120vh);
  }
}
@keyframes rain {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }

  to {
    transform: translateY(120vh);
    opacity: 1;
  }
}